<!-- Pranathi Mothe -->

<br />
<br />
<h2>OrderLineItemss details</h2>
<br />
<br /> ID:
<%=  OrderLineItems._id %>
<br /> orderID:
<%=  OrderLineItems.order_id %>
<br> LineNumber:
<%=OrderLineItems.lineNo%>
<br /> productID:
<%=OrderLineItems.product_id%>
<br />Quantity:
<%=OrderLineItems.orderQuantity%>
<br />
<br />

<form method="get" action="/OrderLineItems">
    <input type="submit" value="Return to list" class="btn btn-caution" />
</form>