<br/>
<br/>
<div class="container-fluid">
  <div class="row">
    <div class="col col-md-12">
        <a href="/OrderLineItems/create" class="btn btn-primary new">
          Create a new Product
        </a>
      <h2>Recent OrderLine entries</h2>
     
      <% for ( let i = 0; i< orderLineItems.query.length; i++) { 
        orderLineItem = orderLineItems.query[i];   
        %>
      <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="text-muted pull-right"></div>
        <div class="panel-body">
          ID:
          <%=orderLineItem._id %>
          <br>
          order_id:
            <%=orderLineItem.order_id%>
            <br /> product_id:
            <%=orderLineItem.product_id%>
              <br />lineNo:
            <%=orderLineItem.lineNo%>
            <br /> orderQuantity:
            <%=orderLineItem.orderQuantity%>
            <br>
                                
                                  <a href="/OrderLineItems/delete/<%=orderLineItem._id %>" class="btn btn-danger"> Delete </a>
                                  <a href="/OrderLineItems/details/<%=orderLineItem._id %>" class="btn btn-info"> Details </a>
                                  <a href="/OrderLineItems/edit/<%=orderLineItem._id %>" class="btn btn-warning"> Edit </a>
                              </div>
      </div>
      <% } %>

    </div>
  </div>
</div>