<!-- Pranathi Mothe -->

<div class=row>
  <div class="col col-xs-12">
   
    <div class="form-group">
      <label for="order_id">orderID</label>
      <input type="number" class="form-control" id="order_id" name="order_id" value="<%= OrderLineItems.order_id %>"
        required>
    </div>
    
    <div class="form-group">
      <label for="lineNo"> lineNo</label>
        
      <input type="text" class="form-control" id="lineNo" name="lineNo" value="<%= OrderLineItems.lineNo %>"
        required>
    </div>

    <div class="form-group">
      <label for="product_id">productID</label>
      <input type="number" class="form-control" id="product_id" name="product_id" value="<%= OrderLineItems.product_id %>" required>
    </div>

    <div class="form-group">
      <label for="orderQuantity">Quantity</label>
      <input type="number" class="form-control" id="orderQuantity" name="orderQuantity" value="<%= OrderLineItems.orderQuantity %>"
        required>
    </div>

  </div>
</div>
<hr>