<li class="dropdown">
  <a href="#!" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
   
      <li role="separator" class="divider"></li>
      <li class="dropdown-submenu">
        <a href="#">About us <span class="caret"></span> </a>
        <ul class="dropdown-menu">
          <li><a href="https://za03.herokuapp.com/" target="_blank">Zaiba Ali</a></li>
          <li><a href="https://mysterious-gorge-70931.herokuapp.com/" target="_blank">Gopi Amara</a></li>
          <li><a href="https://ancient-everglades-13505.herokuapp.com/index" target="_blank">Venkat Dasari</a></li>
          <li><a href="https://limitless-chamber-23981.herokuapp.com/" target="_blank">Pranathi Mothe</a></li>
          <li role="separator" class="divider"></li>
         
        </ul>
      </li>
  </ul>
</li>