<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <h1>Flowers!</h1>
      <br/>
      <h2>E-Commerce Application for Flowers. </h2>
      <br/>
      <hr>
      <h3>This is to test our application.</h3>
      <br/>
      <br/>

      <h4>Here you go for Customers</h4>
      <ol>
        <li>
          <a href="/customer">/customer</a>
        </li>
        <li>
          <a href="/customer/create">/customer/create</a>
        </li>

        <li>
          <a href="/customer/edit/1">/customer/edit/1</a>
        </li>
        <li>
          <a href="/customer/edit/2">/customer/edit/2</a>
        </li>
        <li>
          <a href="/customer/edit/3">/customer/edit/3</a>
        </li>

        <li>
          <a href="/customer/delete/1">/customer/delete/1</a>
        </li>
        <li>
          <a href="/customer/delete/2">/customer/delete/2</a>
        </li>
        <li>
          <a href="/customer/delete/3">/customer/delete/3</a>
        </li>

        <li>
          <a href="/customer/details/1">/customer/details/1</a>
        </li>
        <li>
          <a href="/customer/details/2">/customer/details/2</a>
        </li>
        <li>
          <a href="/customer/details/3">/customer/details/3</a>
        </li>

      </ol>
      <br/>
      <h4>GET JSON</h4>
      <ol>

        <li>
          <a href="/customer/findall">/customer/findall</a>
        </li>
        <li>
          <a href="/customer/findone/1">/customer/findone/1</a>
        </li>
        <li>
          <a href="/customer/findone/2">/customer/findone/2</a>
        </li>
        <li>
          <a href="/customer/findone/3">/customer/findone/3</a>
        </li>

      </ol>

    </br>
  </br>
      <h4>Here you go for Products</h4>
      <ol>
        <li>
          <a href="/flower">/flower</a>
        </li>
        <li>
          <a href="/flower/create">/flower/create</a>
        </li>

        <li>
          <a href="/flower/edit/1">/flower/edit/1</a>
        </li>
        <li>
          <a href="/flower/edit/2">/flower/edit/2</a>
        </li>
        <li>
          <a href="/flower/edit/3">/flower/edit/3</a>
        </li>

        <li>
          <a href="/flower/delete/1">/flower/delete/1</a>
        </li>
        <li>
          <a href="/flower/delete/2">/flower/delete/2</a>
        </li>
        <li>
          <a href="/flower/delete/3">/flower/delete/3</a>
        </li>

        <li>
          <a href="/flower/details/1">/flower/details/1</a>
        </li>
        <li>
          <a href="/flower/details/2">/flower/details/2</a>
        </li>
        <li>
          <a href="/flower/details/3">/flower/details/3</a>
        </li>

      </ol>
      <br/>
      <h4>GET JSON</h4>
      <ol>

        <li>
          <a href="/flower/findall">/flower/findall</a>
        </li>
        <li>
          <a href="/flower/findone/1">/flower/findone/1</a>
        </li>
        <li>
          <a href="/flower/findone/2">/flower/findone/2</a>
        </li>
        <li>
          <a href="/flower/findone/3">/flower/findone/3</a>
        </li>

      </ol>

    </br>
  </br>
      <h4>Here you go for Order</h4>
      <ol>
        <li>
          <a href="/order">/order</a>
        </li>
        <li>
          <a href="/order/create">/order/create</a>
        </li>

        <li>
          <a href="/order/edit/1">/order/edit/1</a>
        </li>
        <li>
          <a href="/order/edit/2">/order/edit/2</a>
        </li>
        <li>
          <a href="/order/edit/3">/order/edit/3</a>
        </li>

        <li>
          <a href="/order/delete/1">/order/delete/1</a>
        </li>
        <li>
          <a href="/order/delete/2">/order/delete/2</a>
        </li>
        <li>
          <a href="/order/delete/3">/order/delete/3</a>
        </li>

        <li>
          <a href="/order/details/1">/order/details/1</a>
        </li>
        <li>
          <a href="/order/details/2">/order/details/2</a>
        </li>
        <li>
          <a href="/order/details/3">/order/details/3</a>
        </li>

      </ol>
      <br/>
      <h4>GET JSON</h4>
      <ol>

        <li>
          <a href="/order/findall">/order/findall</a>
        </li>
        <li>
          <a href="/order/findone/1">/order/findone/1</a>
        </li>
        <li>
          <a href="/order/findone/2">/order/findone/2</a>
        </li>
        <li>
          <a href="/order/findone/3">/order/findone/3</a>
        </li>

      </ol>

    </br>
  </br>
      <h4>Here you go for OrderLineItems</h4>
      <ol>
        <li>
          <a href="/OrderLineItems">/OrderLineItems</a>
        </li>
        <li>
          <a href="/OrderLineItems/create">/OrderLineItems/create</a>
        </li>

        <li>
          <a href="/OrderLineItems/edit/1">/OrderLineItems/edit/1</a>
        </li>
        <li>
          <a href="/OrderLineItems/edit/2">/OrderLineItems/edit/2</a>
        </li>
        <li>
          <a href="/OrderLineItems/edit/3">/OrderLineItems/edit/3</a>
        </li>

        <li>
          <a href="/OrderLineItems/delete/1">/OrderLineItems/delete/1</a>
        </li>
        <li>
          <a href="/OrderLineItems/delete/2">/OrderLineItems/delete/2</a>
        </li>
        <li>
          <a href="/OrderLineItems/delete/3">/OrderLineItems/delete/3</a>
        </li>

        <li>
          <a href="/OrderLineItems/details/1">/OrderLineItems/details/1</a>
        </li>
        <li>
          <a href="/OrderLineItems/details/2">/OrderLineItems/details/2</a>
        </li>
        <li>
          <a href="/OrderLineItems/details/3">/OrderLineItems/details/3</a>
        </li>

      </ol>

      <br/>
      <h4>GET JSON</h4>
      <ol>

        <li>
          <a href="/OrderLineItems/findall">/OrderLineItems/findall</a>
        </li>
        <li>
          <a href="/OrderLineItems/findone/1">/OrderLineItems/findone/1</a>
        </li>
        <li>
          <a href="/OrderLineItems/findone/2">/OrderLineItems/findone/2</a>
        </li>
        <li>
          <a href="/OrderLineItems/findone/3">/OrderLineItems/findone/3</a>
        </li>

      </ol>

    </div>
  </div>
</div>