<br/>
<br/>
<h2>flower details</h2>
<br/>
<br/> ID:
<%=  flower._id %>
  <br> Name:
  <%=flower.name%>
    <br/> breed:
    <%=flower.breed%>
      <br/> Age (years):
      <%=flower.age%>
        <br/>
        <br/>
        <% for (let j = 0; j < flower.parents.length; j++) { parent = flower.parents[j]; %>
          <div> Parent Name:
            <%=parent.parentName%>
              <br/> Parent Breed:
              <%=parent.parentBreed%>
                <br/> Parent Age (years):
                <%=parent.age%> years
                  <br/>
                  <br/>
          </div>
          <% } %>
            <br/>
            <br/>
            <form method="get" action="/flower">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>