<br/>
<br/>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <a href="flower/create" class="btn btn-primary new">
        Create a new flower
      </a>
      <h2>Recent flower entries</h2>
      <p>There are
        <%= flowers.query.length %> flowers.
          <br/>
      </p>
      <% for (var i = flowers.query.length-1; i >= 0; i--) {   
        flower = flowers.query[i];   %>
        <div class="panel panel-default">
          <div class="panel-heading"></div>
          <div class="text-muted pull-right"></div>
          <div class="panel-body">
            ID:
            <%=  flower._id %>
              <br> Name:
              <%=flower.name%>
                <br/> Breed:
                <%=flower.breed%>
                  <br/> Age (years):
                  <%=flower.age%>
                    <br/>
                    <br/>
                    <%=flower.parents.length%> parents
                      <% for (let j = 0; j < flower.parents.length; j++) { parent = flower.parents[j]; %>
                        <div class="arrayItem"> Name:
                          <%= parent.parentName %>
                            <br/>Breed:
                            <%= parent.parentBreed %>
                              <br/>Age:
                              <%= parent.parentAge %>
                        </div>
                        <br/>
                        <% } %>
                          <br/>
                          <br/>
                          <a href="/flower/delete/<%= flower._id  %>" class="btn btn-danger"> Delete </a>
                          <a href="/flower/details/<%= flower._id %>" class="btn btn-info"> Details </a>
                          <a href="/flower/edit/<%= flower._id %>" class="btn btn-warning"> Edit </a>
          </div>
        </div>
        <% } %>

    </div>
  </div>
</div>