<!-- Mehar Choudhary Meenavilli -->

<h2>Confirm deletion of customer</h2>
ID:
<%=  customer._id %>
<br> firstName:
<%=customer.firstName%>
<br /> lastName:
<%=customer.lastName%>
<br /> mobileNumber:
<%=customer.mobileNumber%>
<br /> emailID:
<%=customer.emailID%>
<br /> address:
<%=customer.address%>
<br />
<br />

<form method="get" action="/customer">
    <input type="submit" value="Return to list" class="btn btn-caution" />
</form>

<br />
<form method="POST" action="/customer/delete/<%= customer._id %>">
    <input type="submit" value="Delete this item" class="btn btn-danger" />
</form>